bin/
dist/
lib/
lib64
pip-selfcheck.json
pyvenv.cfg
share/
__pycache__/
mutalyzer.egg-info/
mutalyzer/__pycache__/
.idea/
.tox/
cache/
config.txt
mem_profile/
temp_tests/
time_analysis/
temp/
related/
issues/
tests/data/*.json
tests/data/*.md
images/other/
apis
.pytest_cache/
docs/html/